name: pytest darwin

on:
  pull_request:
    branches: [main]
  schedule:
    - cron: "15 7 * * *"
  workflow_dispatch:

env:
  PYTHONPATH: ${{ github.workspace }}/src
  SENZING_TOOLS_DATABASE_URL: sqlite3://na:na@nowhere/tmp/sqlite/G2C.db

permissions: {}

jobs:
  pytest-darwin:
    concurrency:
      group: pytest-darwin-${{ matrix.senzingsdk-version }}-${{ matrix.python-version }}-${{ github.head_ref || github.ref_name }}
      cancel-in-progress: true
    name: "pytest with Senzing: ${{ matrix.senzingsdk-version }}; OS: ${{ matrix.os }}; Python ${{ matrix.python-version }}"
    permissions:
      contents: read
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest]
        python-version: ["3.10", "3.11", "3.12"]
        senzingsdk-version: [production-v4, staging-v4]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install dependencies
        run: |
          brew install python@${{ matrix.python-version }}
          /opt/homebrew/bin/python${{ matrix.python-version }} -m venv venv
          source venv/bin/activate
          python -m pip install --upgrade pip
          python -m pip install --group all .

      - if: matrix.python-version == '3.10'
        name: Install python libraries for python 3.10
        run: |
          source ./venv/bin/activate
          python -m pip install typing_extensions

      - name: Install Senzing SDK
        uses: senzing-factory/github-action-install-senzing-sdk@v3
        with:
          senzingsdk-version: ${{ matrix.senzingsdk-version }}

      - name: Set environment variables
        run: |
          SENZING_PATH="${HOME}/senzing"
          OPENSSL_PATH="/opt/homebrew/opt/openssl@3"
          {
            echo "DYLD_LIBRARY_PATH=${OPENSSL_PATH}/lib:${SENZING_PATH}/er/lib:${SENZING_PATH}/er/lib/macos"
            echo "LD_LIBRARY_PATH=${SENZING_PATH}/er/lib:${SENZING_PATH}/er/lib/macos"
            echo "PATH=${OPENSSL_PATH}/bin:${PATH}"
            echo "SENZING_PATH=${SENZING_PATH}"
          } >> "$GITHUB_ENV"

      - name: Copy /etc files
        run: |
          sudo mkdir -p "${SENZING_PATH}/etc"
          sudo cp testdata/senzing-license/g2.lic "${SENZING_PATH}/er/etc/g2.lic"

      - name: Copy test database files
        run: |
          mkdir -p /tmp/sqlite
          cp testdata/sqlite/G2C.db /tmp/sqlite/

      - name: Enable core dumps
        uses: senzing-factory/github-action-core-dumps@v1
        with:
          enable-core-dumps: "true"

      - name: Run pytest
        run: |
          source ./venv/bin/activate
          export DYLD_INSERT_LIBRARIES="/opt/homebrew/opt/openssl@3/lib/libcrypto.3.dylib:/opt/homebrew/opt/openssl@3/lib/libssl.3.dylib"
          export DYLD_FORCE_FLAT_NAMESPACE=1
          ulimit -c unlimited
          pytest tests/ --verbose --capture=no --cov=src

      - if: always()
        name: Analyze core dumps
        uses: senzing-factory/github-action-core-dumps@v1
        with:
          analyze-core-dumps: "true"
          core-file-suffix: ${{ matrix.senzingsdk-version }}-${{ matrix.python-version }}

      - name: Rename coverage file
        env:
          COVERAGE_FILE: "coverage.${{ matrix.python-version }}-${{ matrix.senzingsdk-version }}"
        run: |
          mv .coverage "$COVERAGE_FILE"

      - name: Store coverage file
        uses: actions/upload-artifact@v5
        with:
          name: "coverage-${{ matrix.python-version }}-${{ matrix.senzingsdk-version }}"
          path: "coverage.${{ matrix.python-version }}-${{ matrix.senzingsdk-version }}"

  coverage:
    if: github.event_name == 'pull_request'
    name: Coverage
    needs: pytest-darwin
    permissions:
      pull-requests: write
      contents: write
    uses: senzing-factory/build-resources/.github/workflows/python-coverage-comment.yaml@v3

  slack-notification:
    needs: [pytest-darwin]
    if: ${{ always() && contains(fromJSON('["failure", "cancelled"]'), needs.pytest-darwin.result ) && github.event_name == 'schedule' }}
    secrets:
      SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
    uses: senzing-factory/build-resources/.github/workflows/build-failure-slack-notification.yaml@v3
    with:
      job-status: ${{ needs.pytest-darwin.result }}
